@nav-bg: @royal-blue;
@nav-font: @off-white;

@header-font-color: @off-black;
@main-font-color: @off-black;
@main-border-color: @royal-blue;
@brand-font-color: @brand-font;

@footer-background: @royal-blue;
@footer-font-color: @off-white;


@off-black: #111;
@off-white: #eee;
@error-red: #d55;
@royal-blue: #242582;
@pastel-plum: #99738e;
@proper-plum: #553d67;
@cool-blue: #2f2fa2;
@brand-font: 'Bungee Inline', Impact;
@main-font: 'Source Sans Pro', Verdana;
@sub-font: 'Bitter', Times;
@mono-font: 'Sriracha', cursive;
@phone: ~"(max-width: 500px)"; 